
.card
    margin-top: 2rem
    
.mat-card-title
    text-align: center
    
.card-body
    & button
        width: 100%


.card-body-friend
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: cente
    & .card
        background-color: white
        color: black
        width: 9rem
        margin: 1rem
        & h4 
            text-align: center
    
