<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item  class="nav-link" [routerLink]="['/home']"   routerLinkActive="active">Home</a>          
      <a mat-list-item *ngIf="isLoggedIn" class="nav-link" [routerLink]="['/profile']"   routerLinkActive="active">Profile</a>          
      <a mat-list-item *ngIf="isLoggedIn" class="nav-link" [routerLink]="['/chat']" routerLinkActive="active" >Chat</a>
      <a mat-list-item *ngIf="isLoggedIn" class="nav-link" [routerLink]="['/friend/invite']" routerLinkActive="active" >Inviter un amis</a>
      <a mat-list-item *ngIf="!isLoggedIn" class="nav-link" [routerLink]="['/register']" routerLinkActive="active" >S'inscrire</a>
      <a mat-list-item *ngIf="isLoggedIn" class="nav-link" [routerLink]="['/friend']" routerLinkActive="active" >Pangolins</a>
      <a mat-list-item *ngIf="!isLoggedIn" class="nav-link" [routerLink]="['/login']" routerLinkActive="active"  >Ce connecter</a>
      <button mat-raised-button color="primary" style="margin-left: 1rem;" *ngIf="isLoggedIn"  (click)="logout()" >Ce déconnecter</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Friend</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
