<div class="container">

  <mat-card class="card">
    <mat-card-title>Inviter un amis</mat-card-title>
    <mat-card-subtitle>Tn mais n'est pas encore sur le site tu peut l'ajouter</mat-card-subtitle>
    <mat-card-content class="card-body">

      <!-- Username -->
      <mat-form-field appearance="outline">
        <mat-label>Pseudo</mat-label>
        <input [(ngModel)]="form.username" type="text" matInput placeholder="PangoDu92" name="username"
          autocomplete="off" required>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input [(ngModel)]="form.email" type="email" matInput placeholder="XxpangolinxX@hotmailcom" name="email"
          autocomplete="off" required>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button class="card-button" style="margin-bottom: 1rem; margin-left: 1rem;" mat-raised-button color="primary"
        (click)="register()">register</button>
    </mat-card-actions>
  </mat-card>
</div>
